################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/storn/storn/bin/Debug
/storn/storn/obj/Debug
/storn/.vs/storn/v15
